.lblCampoBold  {
	font-family:  Arial;
	font-size: 11;
	font:bold;
	text-align: left;
	color: RGB(128,128,128);
}

.lblTextosPie{
  color : RGB(128,128,128);
  font-size : 9;
  font : Arial Regular;
  text-align:right;
}

.lblTextosPieRojo{
  color : RGB(197,033,040);
  font-size : 11;
  font : Arial Regular;
  text-align:left;
}

.lblTextosGris{
  color : RGB(128,128,128);
  font-size : 11;
  font : Arial Regular;
  text-align:left;
}
.lblTextosInfo{
  font-size : 12px;
  font-family :  Helvetica, Arial Narrow Regular;
  text-align:right;
}

.lblTextosLinkRojo{
  color : RGB(232,034,044);
  font-size : 9;
  font : Arial Regular;
  text-align:right;
}

.fondoRojo{
	background-color: RGB(197,033,040);	
}

.textosFondoGris
{
	font-family: Arial;
	font-size: 11px;
	color: black;
	BACKGROUND-COLOR: RGB(235, 235, 235);
	height: 25px;
    padding-left: 12px;
	
}

/************** ESTILOS DE BOTONES ***********/
.btn_entrar{
   	background-position: center;
   	border: 0px;
   	background-image: url("../img/principal/boton_entrar.jpg");
	width: 85px;
	height: 20px;
	cursor: pointer;
	overflow: visible;
}

.btn_entrar2{
	background-position: center;
   	border: 0px;
   	background-image: url("../img/principal/boton_entrar02.jpg");
	width: 85px;
	height: 20px;
	cursor: pointer;
	overflow: visible;
}

.btn_Activacion{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_activacion01.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;
}

.btn_Activacion2{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_activacion02.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;
}


.btn_recup{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_recuperar01.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;	
}	

.btn_recup2{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_recuperar02.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;	
}

.btn_salir{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_salir01.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;	
}

.btn_salir2{
	width: 82px;
	height: 120px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/principal/boton_salir02.jpg");
	position: static;
	cursor: pointer;
	overflow: visible;	
}

.btn_cancelar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/cancelar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_cancelar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/cancelar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_eliminar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/eliminar1.jpg");
	cursor: pointer;
	overflow: visible;
}

.btn_eliminar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/eliminar2.jpg");
	cursor: pointer;
	overflow: visible;
}

.btn_cerrar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/cerrar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_cerrar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/cerrar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_continuar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/continuar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_continuar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/continuar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_corregir{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/corregir1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_corregir2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/corregir2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_imprimir{
	width: 90px;
	height: 25px; 
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/imprimir1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_imprimir2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/imprimir2.jpg");
	cursor: pointer;
	overflow: visible;	
}


.btn_procesar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/procesar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_procesar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/procesar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_regresar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/regresar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_regresar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/regresar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_autorizar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/autorizar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_autorizar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/autorizar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_noautorizar{
	width: 110px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/noautorizar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_noautorizar2{
	width: 110px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/noautorizar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_buscar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/buscar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_buscar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/buscar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_alta{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/alta1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_alta2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/alta2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_agregar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/agregar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_agregar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/agregar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_enviar{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/buscar1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_enviar2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/buscar2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_solicitar{
	width: 110px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/solicitaralta1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_solicitar2{
	width: 110px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/solicitaralta2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_repAut{
	width: 210px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/reporteamortiz1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_repAut2{
	width: 210px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/reporteamortiz2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_diaActual{
	width: 85px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/diaactual1.jpg") ;
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_diaActual2{
	width: 85px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/diaactual2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_mesActual{
	width: 85px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/mesactual1.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}


.btn_edoCtaS{
	width: 145px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/Imprime EdoCta.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_edoCtaS2{
	width: 145px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/Imprime EdoCta2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_impreDocu{
	width: 19px;
	height: 20px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/boton_especial1.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}


.btn_AltaDomi{
	width: 19px;
	height: 20px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/BotonRojo.JPG");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}


.btn_mesActual2{
	width: 85px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/mesactual2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_mesAnt{
	width: 138px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/5meses1.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_consuRef{
	width: 163px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/ConsultaReferencias.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_consuRef2{
	width: 163px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/ConsultaReferencias2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_edoCta{
	width: 145px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/Imprime EdoCta.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}


.btn_edoCta2{
	width: 145px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/Imprime EdoCta2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}


.btn_mesAnt2{
	width: 138px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/5meses2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_tblAmor{
	width: 200px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/tablaamortizacion1.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_tblAmor2{
	width: 200px;
	height: 13px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/tablaamortizacion2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_generarContrato{
	width: 138px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/generarcontrato1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_generarContrato2{
	width: 138px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/generarcontrato2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_solicitarCondonacion{
	width: 170px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/solicitarcondonacion1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_solicitarCondonacion2{
	width: 170px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/solicitarcondonacion2.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_elimina1{
	width: 14px;
	height: 14px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/x1.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;
}

.btn_consuRefSPEI{
	width: 110px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/ConsultaRefSPEI.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_consuRefSPEI2{
	width: 110px;
	height: auto;
	background-position: center;
   	border: 0px;
	background-image: url("../img/ConsultaRefSPEI2.jpg");
	background-repeat: no-repeat;
	cursor: pointer;
	overflow: visible;	
}

.btn_copiarClabe{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/copiarClabe1.jpg");
	cursor: pointer;
	overflow: visible;	
}

.btn_copiarClabe2{
	width: 90px;
	height: 25px;
	background-position: center;
   	border: 0px;
	background-image: url("../img/app/copiarClabe2.jpg");
	cursor: pointer;
	overflow: visible;	
}

/************************************************/

.imagen_ppal{
	background-image: url("../img/principal/ima_principal.jpg");
	background-repeat: no-repeat;
	position: static;
}

.imagen_base{
	background-image: url("../img/principal/base.jpg");
	background-repeat: no-repeat;
}
.imagen_basemenu{
	background-image: url("../img/app/base.jpg");
	background-repeat: no-repeat;
}	

.lateral_Izq{
	background-image: url("../img/app/pixel_marco_izq.jpg");
	background-repeat: repeat-y;
	position: static;
}

.lateral_Der{
	background: url("../img/app/pixel_marco_der.jpg") repeat-y;
	position: static;
}

.division_top{
	background: url("../img/app/division_top.jpg") repeat-x;
}

.fondo_menu{
	background: -webkit-gradient(linear, left top, left bottom, from(#E8222C), to(#971F21));
	background: -moz-linear-gradient(top,  #E8222C,  #971F21);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#E8222C', endColorstr='#971F21');
	position: static;
	
}

.fondo_menu2{
	height: 19px;
	background-color: rgb(151,031,033);
	position: static;
}

.titularHeader
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	color: rgb(128,128,128);
	border: solid thin;
	border-color: rgb(232,034,044);
	height: 30px;
	padding-left: 10px;
}

.tituloHeader{
	font-family: Arial ;
	font-size: 18px;
	font-weight: bold;
	color: rgb(234,034,044);
	
}

.fechaHeader
{
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	color: rgb(115,115,115);
	BACKGROUND-COLOR: RGB(230,230,230);
	text-align: left;
	height: 21px;
	padding-left: 10px;
}

.tituloSeccion
{
	font-family: Arial;
	font-size: 12px;
	font-weight: normal;
	color: white;
	height: 30px;
	BACKGROUND-COLOR: rgb(145,145,145);
	padding-left: 10px;
}


.lblRojo
{
	font-family: Arial ;
	font-size: 11px;
	font: bold;
	color: rgb(234,034,044);
}

.lblRojo12
{
	font-family: Arial ;
	font-size: 14px;
	font-weight: bold;
	color: rgb(234,034,044);
}


.tableHeader
{
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	color: black;
	BACKGROUND-COLOR: RGB(204,204,204);
	height: 25px;
	
}
.fila0
{
	font-family: Arial;
	font-size: 11px;
	color: black;
	BACKGROUND-COLOR: RGB(242,242,242);
	background-repeat: no-repeat;
}

.fila1
{
	font-family: Arial;
	font-size: 11px;
	color: black;
	BACKGROUND-COLOR: RGB(230,230,230);
	background-repeat: no-repeat;
}

.colTituloL
{
	font-family: Arial;
	font-size: 11px;
	font: bold;
	color: black;
	BACKGROUND-COLOR: RGB(230,230,230);
	text-align: left;
	height: 25px;
	padding-left: 10px;
}

.colTituloR
{
	font-family: Arial;
	font-size: 11px;
	font: bold;
	color: black;
	BACKGROUND-COLOR: RGB(230,230,230);
	text-align: right;
	height: 25px;
	padding-right: 10px;
}

.colDescL
{
	font-family: Arial;
	font-size: 11px;
	color: black;
	BACKGROUND-COLOR: RGB(242,242,242);
	text-align: left;
	height: 25px;
	padding-left: 10px;
}

.filaNongrisL
{
	font-family: Arial;
	font-size: 11px;
	color: black;
	BACKGROUND-COLOR: RGB(242,242,242);
	text-align: left;
	height: 25px;
	padding-left: 10px;
}

.filaNongrisC
{
	font-family: Arial; 
	font-size: 11px;
	color: black;
	height: 25px;
	text-align: center;
	BACKGROUND-COLOR:  RGB(242,242,242);
	padding-left: 10px;

}

.lblInfo9{
	font-family: Arial;
	font-size: 9px;
	color: rgb(128,128,128);
	text-align: left;
	height: 25px;
	padding-left: 10px;
}
.lblInfoNegro9{
	font-family: Arial;
	font-size: 11px;
	font: bold;
	color: black;
	text-align: left;
	height: 25px;
	padding-left: 10px;
}


/********************** estilos anteriores****/
.fondoazul {
	background: #10324E;	
}

.fondogris{
	background: #AAAAAA;
}

.fondoamarillo{
	background: #DAAD12;
}



.fondo1{
	background-color: #C9D9EF;
	height: 25px;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	
}

.fondo2{
	background-color:	#EBEBEB;
	font-family:  Arial;
	font-size: 10px;
	font-weight: bold;	
}

.fondoTitulos{
	background-color:	#95B5DF;
	height: 18px;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;	
}

.etiquetas3{
	font-family:  Arial;
	font-style:normal;
	font-size: 10px;
	font: bold;
	color:	red;	
}


.tituloBold  {

	font-family:  Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 24px;
	font:bold;
	text-align: center;
	color: white;
}



td {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.table_td_border_right {
	border-right: 1px solid #70A8D2;	
}

.table_td_right {
	text-align: right;
	align: right;
}

.table_td_left {
	text-align: left;
	align: left;
}

.table_td_border_left {
	border-left: 1px solid #70A8D2;
}

.table_td_center {
	text-align: center;
	align: center;
}

.table_td_efect {
	background: #B0BED9;	
}

.table_td_out_efect {
	background: transparent;	
}

.row_select {
	background-color: #B0BED9;
	background-color: #7398B4;	
	color: white;
}

.row_selected {
	background-color: #B0BED9;
	background-color: #7398B4;
	color: white;
}

th {
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}


input{
	
	border:1px solid #B5B8C8;
	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.etiquetas{
	font-family:  Arial;
	font-size: 9px;
}

.etiquetas2{
	color:	rgb(232,034,044);
	font-family:  Arial;
	font-size: 25px;
	font-weight: bold;
}

.tabScr{
	scrollbar-base-color: #FFFFFF; 
	scrollbar-track-color:#FFFFFF; 
	scrollbar-face-color: #EBEBEB;
	scrollbar-highlight-color: #AAAAAA; 
	scrollbar-3dlight-color:#FFFFFF; 
	scrollbar-shadow-color: #000033; 
	scrollbar-darkshadow-color: #AAAAAA;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.chkStyle{
     width:15px;	
     border: none; 
}

select {
   	font-family:  Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
.CombosBox{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size:9px;  
	text-align:left;  
	border: 0px; 
	background: transparent;
}
#centraVertical { 
	text-align:left;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60%;
	margin: auto;

}

.seccionHeader
{
	font-family: Arial;
	font-size: 11px;
	color: white;
	height: 25px;
	BACKGROUND-COLOR: #506478;
	
}





.filaPargrisC
{
	font-family: Arial;
	font-size: 10px;
	color: black;
	height: 20px;
	text-align: center;
	BACKGROUND-COLOR: #AAAAAA;
	

}

.filaNongrisR
{
	font-family: Arial;
	font-size: 10px;
	color: black;
	BACKGROUND-COLOR: RGB(230,230,230);
	text-align: right;

}



.tdCenter
{
	text-align: center;
}


.comboCajaCMG2
{
	font-family: Arial;
	font-size: 9px;
	width: 200px;
}

.comboCajaCMG3
{
	font-family: Arial;
	font-size: 10px;
/*	width: 580px;*/
}

.comboCajaCMG4
{
	font-family: Arial;
	font-size: 10px;
	width: 270px;
}

.lblTextosInfoJ{

  font-size : 11px;
  font-family :  Arial;
  font: bold;
  color: rgb(165,165,165);
  text-align:justify;
}

.lblTextosInfoJBold{

  	font-size : 12px;
    font-family :  Helvetica, Arial Narrow Regular;
	font-weight: bold;
}

.lblTextosJustif{

  font-size : 11px;
  font-family :  Arial;
  font: bold;
  text-align:justify;
}

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 17px;
  background-color: transparent;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 9px;
  width: 9px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #eb3427;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eb3427;
}

input:checked + .slider:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
